@import "./style.scss";

.about {
  background-color: $color-black;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid $color-white;

  .about-wrapper {
    display: flex;
    flex-direction: column;

    p {
      color: $color-white;
    }

    p.visit-link {
      margin-top: 1.5rem;
      font-size: smaller;
    }

    .about-title {
      font-size: x-large;
      color: $color-wheat;
      margin-bottom: 1em;
      text-transform: capitalize;
    }
  }
}
