@import "./style.scss";

.about-wrapper {
  display: flex;
  border-top: 1px solid $color-white;
  margin-left: 1rem;

  .about {
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    padding-right: 8rem;

    p.visit-link {
      margin-top: 1.5rem;
      font-size: smaller;
    }

    .about-title {
      font-size: x-large;
      margin-bottom: 1em;
      text-transform: capitalize;
    }
  }
  img {
    padding-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 990px) {
  .about-wrapper {
    .about {
      padding-right: 1rem;
    }
  }
}

@media (max-width: 748px) {
  .about-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    .about {
      align-items: center;
      padding-left: 6rem;
      padding-right: 6rem;
      font-size: small;
      text-align: center;
    }

    a {
      font-size: x-small;
    }
  }
}
