@import "./style.scss";

.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: $color-wheat;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  img{
    width: 2rem;
  }

}
