@import "./style.scss";

.certificates {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;

  p {
    color: $color-white;
    margin-bottom: 0.5em;
  }

  .certificates-title {
    font-size: x-large;
    margin-bottom: 1em;
    text-transform: capitalize;
  }

  .certificates-box {
    display: flex;
    justify-content: center;
    margin-right: auto;

    img {
      width: 20em;
      height: 10em;
    }

    .slider {
      display: flex;
    }

    img {
      max-height: 80vh;
    }

    .zoomed {
      transform: scale(1.4);
      transition: transform 0.3s ease;
    }
  }
}

@media (max-width: 748px) {
  .certificates {
    align-items: center;

    .certificates-box {
      margin-right: 0;
    }
  }
}
