@import "./style.scss";

.contact-wrapper {
  display: flex;
  border-top: 1px solid $color-white;
  border-bottom: 1px solid $color-white;

  .contact {
    padding-left: 6rem;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 2em;
      font-size: smaller;
    }

    .contact-title {
      font-size: x-large;
      margin-bottom: 1em;
      text-transform: capitalize;
    }
  }
}
