@import "./style.scss";

.footer {
  background-color: $color-black;
  .footer-title {
    color: $color-white;
    font-size: x-small;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
  }

  .footer-description,
  .footer-title-span {
    text-align: center;
    font-size: xx-small;
    color: $color-white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 200;
    user-select: none;
  }
}
