@import "./style.scss";

.footer {
  
  .footer-title {
  
    font-size: x-small;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
  }

  .footer-description,
  .footer-title-span {
    text-align: center;
    font-size: xx-small;
    
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 200;
    user-select: none;
  }
}


@media (max-width: 748px) {
.footer{
    .footer-title{
    font-size: xx-small;
    }
    .footer-title-span{
font-size: xx-small;
    }
    .footer-description{
        font-size: xx-small;
    }

}
}
