@import "./style.scss";

header {
  ul {
    display: flex;
    list-style-type: none;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    justify-content: end;

  }
  li {
    margin-right: 2rem;
    text-transform: capitalize;
  }

  button {
    background-color: inherit;
    border: none;

    img {
      width: 1em;
    }
  }

  a{
    color: $color-white;
  }

  a:hover {
    color: $color-wheat;
  }
}
