@import "./style.scss";

.introduction {
  background-color: $color-black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 10rem;

  img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
  }

  p {
    text-transform: capitalize;
    margin-top: 1rem;

    span.genre {
      margin-left: 6rem;
      color: $color-wheat;
    }

    span.frontend-developer {
      color: $color-white;
      font-size: xx-large;
    }
  }

  button {
    text-transform: capitalize;
    margin-top: 1.5rem;
  }
}
