@import "./style.scss";

.projects-main-wrapper {
  display: flex;
  flex-direction: column;

  .projects {
    display: flex;
    border-top: 1px solid $color-white;

    img {
      width: 20rem;
      padding-left: 1rem;
      margin-right: 1rem;
    }

    .projects-wrapper {
      display: flex;
      flex-direction: column;
      padding-left: 6rem;

      h3 {
        text-transform: capitalize;
      }

      p {
        margin-bottom: 2rem;
        font-size: smaller;
      }

      .projects-title {
        font-size: x-large;
        margin-bottom: 3em;
        text-transform: capitalize;
      }

      .projects-ul-wrapper {
        text-transform: capitalize;
        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 0.5rem;
        }

        ul {
          display: flex;
          padding-left: 0;
          gap: 1rem;
          margin-bottom: 2em;

          li {
            list-style-type: none;
            font-size: x-small;
            width: 4em;
            text-align: center;

            img {
              width: 4em;
            }
          }
        }

        a {
          margin-bottom: 1em;
          width: fit-content;

          button {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

@media (max-width: 748px) {
  .projects-main-wrapper {
   

    .projects {
      flex-wrap: wrap;
       justify-content: center;

      .projects-wrapper {
        align-items: center;
          padding: 0 3rem 0 3rem;
          font-size: small;
        text-align: center;

        .p-new-portfolio {
          padding: 0 5rem 0 5rem;
        }
      }

      .projects-ul-wrapper {
        align-items: center;

        
    a{
      font-size: x-small;
    }
      }
    }
  }
}
