@import "./style.scss";

.projects-main-wrapper {
  display: flex;
  flex-direction: column;

  .projects {
    padding-left: 6rem;
    display: flex;
    border-top: 1px solid $color-white;

    img {
      width: 20rem;
      margin-right: 10rem;
    }

    .projects-wrapper {
      display: flex;
      flex-direction: column;

      h3 {
        text-transform: capitalize;
      }

      p {
        margin-bottom: 2rem;
        font-size: smaller;
      }

      .projects-title {
        font-size: x-large;
        margin-bottom: 3em;
        text-transform: capitalize;
      }

      .projects-ul-wrapper {
        text-transform: capitalize;
        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 0.5rem;
        }

        ul {
          display: flex;
          padding-left: 0;
          gap: 1rem;
          margin-bottom: 2em;

          li {
            list-style-type: none;
            font-size: x-small;
            width: 4em;
            text-align: center;

            img {
              width: 4em;
            }
          }
        }

        a {
          margin-bottom: 1em;
          width: fit-content;

          button {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
