@import "./style.scss";

.services-wrapper {
  display: flex;
  border-top: 1px solid $color-white;

  .services {
    padding-left: 6rem;
    display: flex;
    flex-direction: column;

    p {
    
      margin-bottom: 0.5em;
    }

    .services-title {
      font-size: x-large;
      margin-bottom: 1em;
      text-transform: capitalize;
    }
  }
}
