@import "./style.scss";

.skills-wrapper {
  display: flex;
  border-top: 1px solid $color-white;

  .skills {
    padding-left: 6rem;
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 2em;
      font-size: smaller;
    }

    .skills-title {
      font-size: x-large;
      margin-bottom: 1em;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 748px) {
  .skills-wrapper {
    flex-wrap: wrap;

    .skills {
      padding-left: 4rem;
      padding-right: 4rem;
      align-items: center;
      font-size: small;
      text-align: center;
    }
  }
}
